<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/answers.css">
    <title>Answers HTML Task 1.3</title>
  </head>
  <body id="answers-container">
    <div>
      <div class="answers-shell">
        <h2>Question 2.1</h2>
        <p>For task 1.1 I added the recent tweets for each airline, as I felt that the tweets in combination with the airline sentiment pie charts, provided a visualization that informed each other.
          The pie charts show the ratio of positive, negative and neutral interactions with respective airlines, and the recent tweets provide some context behind those interactions. 
          I believe this creates an impactful visualization for users, as it could help users to determine which airline they might decide to use for their flight.
          I also added two buttons, which toggle the display on and off for the recent tweets, I believe this helps to make the screen more streamlined and easier to use on desktop and mobile devices.
          I also used flexbox, so that the pie charts and recent tweets text display would adjust nicely to the screen size.
        </p>
      </div>

      <div class="answers-shell">
        <h2>Question 2.2</h2>
        <p></p>
      </div>

      <div class="answers-shell">
        <h2>Question 2.3</h2>
        <p></p>
      </div>
    </div>
  </body>
</html>
