<!DOCTYPE html>
<meta charset="UTF-8">
<html>
    <head>
        <title>Creative HTML</title>
        <link rel="stylesheet" href="../static/css/creative.css"> 
        <script src="http://d3js.org/d3.v4.min.js" charset="utf-8"></script>
</head>
<body>
    <header>American Airline Sentiment Pie Charts For Each Airline</header>

    <div id="chart-container">
    
    <div class="airline-charts">
        <h2>American Airlines</h2>
        <svg id="american-svg" width="550" height="400"></svg>
    </div>

    <div class="airline-charts">
        <h2>Delta Airlines</h2>
        <svg id="delta-svg" width="550" height="400"></svg>
    </div>

    <div class="airline-charts">
        <h2>SouthWest Airlines</h2>
        <svg id="southwest-svg" width="550" height="400"></svg>
    </div>

    <div class="airline-charts">
        <h2>US Airways Airlines</h2>
        <svg id="usAirways-svg" width="550" height="400"></svg>
    </div>

    <div class="airline-charts">
        <h2>United Airlines</h2>
        <svg id="united-svg" width="550" height="400"></svg>
    </div>

    <div class="airline-charts">
        <h2>Virgin America Airlines</h2>
        <svg id="virginAmerica-svg" width="550" height="400"></svg>
    </div>

    </div>
    
    <script type="text/javascript" src="../static/js/creative.js"></script>
</body>
</html> 